* {
    margin: 0px;
    font-family: 'Instrument Serif', serif;
}
.menu {
    background-color: #D9D9D9;
    width: 812px;
    height: 80px;
    opacity: 80%;
    margin-top: 50px;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-out;
} 
.menu_homepage_button{
    background-image: url(Home.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 29px;
    margin-right: 40px;
    transition: transform ease 0.15s;
    display: flex;
}
.menu_text_kostovinky, .menu_text_kontakt, .menu_text_o_nas, .menu_text_rezervace{ /*text ve velkem menu */
    transition: transform ease 0.15s;
    display: flex;
    padding-right: 20px;
    padding-left: 33px;
    font-size: 30px; 
}
 .menu_default_text_kostovinky, .menu_default_text_kontakt, .menu_default_text_o_nas, .menu_default_text_rezervace{ /*text v malem menu */
    transition: transform ease 0.15s;
    display: flex;
    font-size: 20px; 
}

.menu_homepage_button:hover, .menu_text_kostovinky:hover, .menu_text_kontakt:hover, .menu_text_o_nas:hover, .menu_text_rezervace:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.menu_default_text_kostovinky:hover, .menu_default_text_kontakt:hover, .menu_default_text_o_nas:hover, .menu_default_text_rezervace:hover {
    transform: scale(1.10);
    cursor: pointer;
}
.menu_default:hover {
    cursor: pointer;
}
.menu_clicked {
    background-color: #2F0C07;
    position:fixed;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    top: 0px;
    right: 20px;
    opacity: 0;
    z-index: 0;
}

.menu_default {
    position:fixed;
    border-radius: 10px;
    height: 60px;
    width: 100px;
    top: 0px;
    transition: opacity 0.4s ease-out,transform 0.4s ease-out;
    right: 20px;
    transform: translateY(-70px);
    z-index: 1;
}
.menu_default_under {
    background-color: black;
    width: 100px;
    height: 300px;
    top: 70px;
    position: fixed;
    right: 20px;
    opacity: 0;  
    border-radius: 10px;
}
.menu_default_cara {
    height: 5px;
    width: 60px;
    background-color: white;
    margin-top: 11px;
    margin-left: 19px;
}
.pozadie{
    background-color: #2F0C07;
    background-image: url(Pozadi1.png);
    background-repeat: no-repeat;
    background-position: 300px 0px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 949px;
}
.logo{
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    margin-top: -910px;
    margin-left: 50px;
    width: 66px;
    height: 122px;
    position: fixed;
}
.logo_text{
    top: 40px;
    left: 90px;
    font-size: 40px;
    color: white;
    transition: left 0.3s ease-out;
    position: relative;
}
.uvodny_text{
    color: white;
    font-size: 32px;
    margin-top: -500px;
    margin-right: 800px;
    margin-left: 250px;
}
.uvodny_text .p{
    font-size: 128px;
}
.obrazek1 {
    height: 300px;
    width: 300px;
    background-color: blue;
    margin-top: 1000px;
    position: relative;
    left: -300px;
    transition: left 2.8s ease-in-out;
}
.obrazek2 {
    height: 300px;
    width: 300px;
    background-color: goldenrod;
    margin-top: -100px;
    position: relative;
    left: -300px;
    transition: left 2.8s ease-in-out;
}
.ddd {
    text-align: center;
    font-size: 20px;
}