* {
    margin: 0px;
    font-family: Serif;
}
.menu {
    background-color: #D9D9D9;
    width: 812px;
    height: 80px;
    opacity: 80%;
    margin-top: 50px;
    border-radius: 36px;
    display: flex;
    justify-content: center;
} 
.menu_text_rezervace{
    margin-top: 27px;
    transition: transform ease 0.15s;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px; 
}
.menu_text_o_nas {
    margin-top: 27px;
    transition: transform ease 0.15s;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px; 
}
.menu_text_kontakt {
    margin-top: 27px;
    transition: transform ease 0.15s;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px; 
}
.menu_text_kostovinky{
    margin-top: 27px;
    transition: transform ease 0.15s;
    display: flex;
    margin-left: 33px;
    margin-right: 20px;
    font-size: 25px; 
}
.menu_homepage_button{
    background-image: url(Home.png);
    background-repeat: no-repeat;
    height: 32px;
    width: 29px;
    margin-top: 23px;
    margin-left: 2px;
    transition: transform ease 0.15s;
    display: flex;
}
.menu_homepage_button:hover {
    transform: scale(1.15);
}
.menu_default {
    background-color: red;
    position:fixed;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    top: 0px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-out;
    margin-left: 1500px;
    transform: translateY(-50px);
}
.pozadie{
    background-color: #2F0C07;
    background-image: url(Pozadi1.png);
    background-repeat: no-repeat;
    background-position: 300px 0px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 949px;
}
.logo{
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    margin-top: -910px;
    margin-left: 50px;
    width: 66px;
    height: 122px;
}
.logotext{
    padding-top: 50px;
    padding-left: 90px;
    font-size: 20px;
    color: white;
}
.vitamevas{
    color: white;
    font-size: 32px;
    margin-top: 285px;
    margin-right: 800px;
    margin-left: 250px;
}
.vitamevas .p{
    font-size: 128px;
}
.obrazek1 {
    height: 300px;
    width: 300px;
    background-color: blue;
    margin-top: 1000px;
    position: relative;
    left: -300px;
    transition: left 2.8s ease-in-out;
}
.obrazek2 {
    height: 300px;
    width: 300px;
    background-color: goldenrod;
    margin-top: -100px;
    position: relative;
    left: -300px;
    transition: left 2.8s ease-in-out;
}
.ddd {
    text-align: center;
    font-size: 20px;
}