<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="menu.css">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <div class="pozadie">
        <div class="menu" id="menu">
            <div class="menu_homepage_button">
            </div>
            <div class="menu_text_kostovinky">
                KOŠTOVINKY  
            </div>
            <div class="menu_text_rezervace">
                REZERVACE
            </div>
            <div class="menu_text_o_nas">
                O NÁS
            </div>
            <div class="menu_text_kontakt">
                KONTAKT
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="logo_text" id="logo_text">
            KOŠTOTÉKA
        </div>
    </div>
    <div class="uvodny_text">
        Vitame Vas
        <div class="p">KOŠTOTÉKA</div>
        Pizzéria situovaná v rekreačnej oblasti Gazárka v malom mestečku 
        Šaštín - Stráže na Záhorí.
    </div>
    <div class="menu_default" id="menu_default" onclick="click_menu_default()"> 
        <div class="menu_default_cara"></div>
        <div class="menu_default_cara"></div>
        <div class="menu_default_cara"></div>
    </div>
    <div class="menu_default_under" id="menu_default_under"></div>
    <div class="menu_clicked" id="menu_clicked" onclick="click_menu_cliked()">
    </div>
    <div class="obrazek1" id="obrazek1">
    </div>
    <div class="obrazek2" id="obrazek2">
    </div>
    <!-- <h1>Find Closest Cities</h1>

    <form method="POST">
        <label for="selectedCity">Search for your city:</label>
        <input list="cities" name="selectedCity" id="selectedCity" placeholder="Start typing a city..." required>
        <datalist id="cities">
            {% for city in cities %}
                <option value="{{ city.name }}">
            {% endfor %}
        </datalist>
        <button type="submit">Find</button>
    </form>

    {% if nearby_cities %}
        <h2>Closest Event Cities to {{ selected_city.name }}:</h2>
        <ul>
            {% for city in nearby_cities %}
                <li>
                    {{ city.name }} ({{ city.distance | round(2) }} km) —
                    Event Date: {{ city.date }}
                </li>
            {% endfor %}
        </ul>
    {% endif %} -->
    <div class="ddd"> 
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    v<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d <br>
    d<br>
    d<br>
    d<br>
    d<br>
    v<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d <br>
    d<br>
    d<br>
    d<br>
    d<br>
    v<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d <br>
    d<br>
    d<br>
    d<br>
    d<br>
    v<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    d<br>
    </div>
    <script src="menu.js"></script>
</body>
</html>