<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/menu.css">
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
</head>
<body class="m-0 flex justify-center flex-col">
    <section class="bg-[#2F0C07] flex justify-center flex-col">
        <div class="absolute top-11 left-20 flex items-center text-4xl text-white">
            <img src="/static/Logo.png" class="h-32 mr-5">
            Kostoteka
        </div>
        <div class="h-20 mt-20 border rounded-full flex justify-center items-center bg-gray-400 w-[800px] self-center">
            <div class="">
                <ul class="flex space-x-16 items-center font-medium text-2xl">   
                    <li><img src="/static/Home.png" class="h-fit w-fit"></li>
                    <li>Rezervacia</li>
                    <li>Kostovinka</li>
                    <li>O nas</li>
                    <li>Kontakt</li>
                </ul>
            </div>
        </div>
        
        <div class="flex flex-col ml-52 mt-64 mb-80 text-white">
            <p class="text-4xl">Vitame vas</p>
            <p class="text-9xl">Kostoteka</p>
            <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        </div>
    </section>












    <h1>Find Closest Cities</h1>

    <form method="POST">
        <label for="selectedCity">Search for your city:</label>
        <input list="cities" name="selectedCity" id="selectedCity" placeholder="Start typing a city..." required>
        <datalist id="cities">
            {% for city in cities %}
            <option value="{{ city.name }}">
                {% endfor %}
            </datalist>
            <button type="submit">Find</button>
    </form>

    {% if nearby_cities %}
    <h2>Closest Event Cities to {{ selected_city.name }}:</h2>
    <ul>
            {% for city in nearby_cities %}
                <li>
                    {{ city.name }} ({{ city.distance | round(2) }} km) —
                    Event Date: {{ city.date }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        
    <script src="/static/menu.js"></script>
</body>
</html>